{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>爬虫图书搜索系统</title>
   <!--  {#    导入通用css  #}-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <link rel="stylesheet" href="../../static/main/css/reset.css">
    <link rel="stylesheet" href="../../static/start/start.css">


    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="../../static/start/start.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.js"></script>

  <link rel="icon" href="../../static/main/img/favicon.ico" type="image/x-icon"/>
</head>
<body>

<div class="jumbotron col-xs-12 ">
    <div class="container">
  <h1>基于Python爬虫的图书搜索系统</h1>
  <p>15电子科学与技术  </p>
    <p>张密</p>
  <p><a class="btn btn-primary btn-lg" href="/home/" role="button">点击进入</a></p>
</div>
</div>
</body>
</html>