.one{

    border-radius: 3px;
    border: 1px solid #5cb85c;

    background-color:#f6f6f1;
    margin-top: 30px;
}
.two{
    border-top: 1px solid #5cb85c;
    padding: 12px 10px 12px 18px;
}

.three{

    border-top: 1px solid #5cb85c;
    padding: 12px 10px 12px 18px;
    color: #a1a5a8;
    border-bottom: 1px solid #5cb85c;
}
.four{
    padding: 12px 10px 12px 18px;
}
.four a{
    color: #2C8DFB;
    text-decoration: none;
}
.four a:hover{
    color: #FFFFFF;
    background-color:#2C8DFB ;
}
.four span{
    padding-left: 5px;
    color: #a1a5a8;
}
.five{
    border-left: none;
    border-right: none;
    color: #FFFFFF;
    background-color: #FFFFFF;
    border-bottom: 1px solid #5cb85c;
}

.fenye{
    text-align: center;
    word-spacing: 25px;
}